<div id="<%= dom_id project2 %>">
  <p>
    <strong>Title:</strong>
    <%= project2.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= project2.body %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project2.description %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= project2.slug %>
  </p>

</div>
