<p style="color: green"><%= notice %></p>

<%= render @project2 %>

<div>
  <%= link_to "Edit this project2", edit_project2_path(@project2) %> |
  <%= link_to "Back to project2s", project2s_path %>

  <%= button_to "Destroy this project2", @project2, method: :delete %>
</div>
